@value makerWhite, makerBlack, makerDarkGrey, makerSkyBlue, makerLightPurple from 'common/style.css';

.main {
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.main img {
  width: 100%;
  transform: translateY(-50%);
}
.title {
  padding-bottom: 10px;
  margin-top: 50px;
  font-size: 2rem;
  position: relative;
  animation: showing 1s ease;
}

@keyframes box {
  0% {
    width: 0px;
    transform: translateX(-10px);
  }
  100% {
    width: 60px;
    transform: translateX(0px);
  }
}

.title:after {
  content: "";
  display: block;
  width: 60px;
  height: 40px;
  position: absolute;
  left: -10px;
  top: 0;
  z-index: -1;
  background-color: rgb(76, 188, 216, 0.5);
  animation: box 0.7s ease;
}

.left {
  padding: 30px 0;
  font-size: 1em;
  text-align: right;
  color: makerDarkGrey;
}

.left span {
  font-size: 1.3em;
  color: #2c2fe7dc;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.book_containers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.tracker {
  width: 80%;
}

.blank {
  width: 120px;
  height: 177px;
  border: 1px dashed makerLightPurple;
  color: makerLightPurple;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.blank:hover {
  background-color: rgba(165, 156, 210, 0.15);
}

@keyframes showing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.achieved {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 1.5rem;
  color: gold;
  animation: showing 1s ease;
}

.achieved span {
  padding-left: 10px;
  color: makerBlack;
}

.logout {
  padding: 5px 8px;
  border-radius: 30px;
  position: absolute;
  right: 2%;
  top: -55px;
  border: none;
  background: none;
  outline: none;
  background-image: linear-gradient(to left, makerSkyBlue, makerLightPurple);
  color: makerWhite;
  cursor: pointer;
}
.logout:hover {
  transform: scale(0.98);
}

/* darkMode */
.dark.left {
  color: makerWhite;
}

.dark.left span {
  color: #eb5473;
}
