.book {
  height: 174px;
  margin-bottom: 50px;
  margin-right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.book:hover .thumbnail{
  opacity:0.7;
}

.book:hover .deleteBtn{
  display:block;
}

.thumbnail {
  width: 120px;
  height: 174px;
  transition:opacity 0.2s ease;

}

.starWrap {
  overflow: hidden;
}
.stars {
  width: 100%;
  white-space: nowrap;
  color: #ffd000;
}

.rating {
  display: flex;
  font-size: 0.8rem;
  color: #555;
}
.ratingNum {
  padding-right: 5px;
}

.deleteBtn {
  padding:5px;
  border:none;
  border-radius:30px;
  background-color: #777;
  box-shadow:5px 5px 5px rgba(0,0,0,0.5);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor:pointer;
  display:none;
}
