.book {
  height: 174px;
  margin-bottom: 50px;
  margin-right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.thumbnail{
    width:120px;
    height: 174px;
}

.starWrap {
  overflow: hidden;
}
.stars {
  width: 100%;
  white-space: nowrap;
  color: #ffd000;
}

.rating {
  display: flex;
  font-size: 0.8rem;
  color: #555;
}
.ratingNum {
  padding-right: 5px;
}
