.progressWrap {
  position: relative;
}
.progress {
  width: 100%;
  height: 25px;
  border: 2px solid #a59cd2;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.progressBar {
  position: absolute;
  height: 25px;
  background-color: #a59cd2;
}

.barNum {
  position: absolute;
  top: 25px;
  font-size: 0.8rem;
  color: #333;
}

.barNum.start {
  left: 0;
}

.barNum.done {
  right: 0;
}

.current {
  position: absolute;
  top: 0;
  right: -40px;
  font-size: 0.8rem;
}

/* pathname: /home */
.home {
  padding: 15px 0;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  border-left: 5px solid #5eafac;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.home:hover {
  transform: scale(1.05);
}

/* pathname: /profile */
.profile {
  margin-bottom: 30px;
  cursor: pointer;
}

.title {
  /* padding-bottom:5px; */
  color: #333;
  font-size: 1rem;
}

/* darkMode */
.dark.title,
.dark.barNum {
  color: #fff;
}

.dark.home {
  background-color: #373f50;
}
