.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom:30px;
}
.form {
  margin: 0 20%;
  margin-bottom: 30px;
  position: relative;
}

.books {
  margin: 0 5%;
  height: 250px;
  border: 2px solid #efefef;
  overflow: scroll;
}
.input {
  width: 100%;
  padding: 7px 0;
  border: none;
  background-color: #efefef;
  border-radius: 30px;
  outline: none;
  text-indent: 10px;
}
.submit {
  position: absolute;
  right: 5px;
  top: 7px;
  border:none;
  outline:none;
  cursor:pointer;
  /* background-image:url("/search.png"); */
}

.no_result{
  text-align:center;
}
.bookContainer{
  display:flex;
  justify-content:center;
}

.coverImg{
  width:120px;
}

.previewImg{
  width:120px;
  height:174px;
}

.ratingText{
  display:flex;
  align-items:center;

}

.ratingNum{
  outline:none;
  border:none;
  background-color:#efefef;
}

.register{
  padding: 3px 5px;
  margin-left:10px;
  background:none;
  outline:none;
  border:1px solid rgb(76, 188, 216);
  border-radius:3px;
  cursor:pointer;
  transition:all 0.2s ease;
}

.register:hover{
  box-shadow:0 0 5px rgb(76, 188, 216,0.5);
}
/* .search{
  position: absolute;
  right: 5px;
  top: 7px;
  cursor:pointer;
} */

/* darkMode */
.dark.books{
  border:2px solid #64686F;
}

.dark.input{
  background-color:#282D39;
  color:#fff;
}

.dark.register{
  color:#fff;
}