@value makerWhite, makerSkyBlue, makerLightPurple, makerLightGrey from 'common/style.css';

.container {
  width: 60%;
  text-align: center;
}

.title {
  padding-bottom: 20px;
  font-size: 2rem;
}
.form {
  font-size: 1.3rem;
}
.input {
  margin-bottom: 15px;
  border: none;
  outline: none;
  border-bottom: 2px solid #0e01462d;
  text-align: center;
  font-size: 1.2em;
}

.titleInput {
  font-size: 0.8em;
  padding-bottom: 5px;
}

.submit input {
  padding: 5px 50px;
  margin-bottom: 50px;
  border-radius: 30px;
  border: none;
  background: none;
  background-image: linear-gradient(to left, makerSkyBlue, makerLightPurple);
  color: makerWhite;
  cursor: pointer;
}

/* dark mode */
.dark.input {
  color: #9399a0;
}

.dark.input:selected {
  background-color: pink;
}

.dark.title,
.dark.books_text {
  color: makerLightGrey;
}
