.container {
  width: 60%;
  text-align: center;
}

.title {
  padding-bottom: 20px;
  font-size: 2rem;
}
.form {
  font-size: 1.3rem;
}
.input {
  margin-bottom: 40px;
  border: none;
  outline: none;
  border-bottom: 1px solid #aaa;
  text-align: center;
  font-size: 1.2em;
}

.submit input {
  padding: 5px 50px;
  border-radius: 30px;
  border: none;
  background: none;
  background-image: linear-gradient(to left, #4cbcd8, #a59cd2);
  color: #fff;
  cursor:pointer;
}
