@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Pacifico&family=Roboto&display=swap");

.header {
  font-family: "Pacifico", cursive;
  padding: 10px 5%;
  font-size: 0.6rem;
  position: relative;
  background-color:#fff;
  box-shadow: 0 5px 8px rgba(65, 62, 62, 0.1);
}
.header h1 {
  color: #a59cd2;
}
.header span {
  padding-left: 5px;
  color: #000;
}

.userPage {
  padding: 5px 8px;
  border-radius: 30px;
  position: absolute;
  right: 2%;
  top: 17px;
  margin-right:1%;
  border: none;
  background: none;
  outline: none;
  background-image: linear-gradient(to right, #4cbcd8, #a59cd2);
  color: #fff;
  cursor: pointer;
}

.user{
  position:absolute;
  right:5%;
  top:10px;
  display:flex;
  align-items:center;
}

.userProfile{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.addBtn{
  position:absolute;
  right:200px;
  bottom:30px;
}

.main {
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.main img {
  width: 100%;
  transform: translateY(-30%);
}
