@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Pacifico&family=Roboto&display=swap");

.header {
  font-family: "Pacifico", cursive;
  padding: 10px 5%;
  font-size: 0.6rem;
  position: relative;
}
.header h1 {
  color: #a59cd2;
}
.header span {
  padding-left: 5px;
  color: #000;
}



