.title {
  padding-top:20px;
  padding-bottom: 20px;
  font-size: 2rem;
}

.left{
  padding-bottom:10px;
  font-size:1em;
  text-align:right;
  color:#333;
}

.left span{
  font-size:1.3em;
  color:#2c2fe7dc;
  text-shadow:2px 2px 0 rgba(0,0,0,0.2);
}

.book_containers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tracker {
  width: 80%;
}

.blank {
  width: 120px;
  height: 177px;
  border: 1px dashed #a59cd2;
  color: #a59cd2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.blank:hover {
  background-color: rgba(165, 156, 210, 0.15);
}
