.input {
  display: none;
}

.imageFile {
  text-align: center;
  padding-bottom: 10px;
}

.button {
  padding: 3px 5px;
  background: none;
  outline: none;
  border: 1px solid rgb(150, 195, 206);
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button:hover {
  box-shadow: 0 0 5px rgb(76, 188, 216, 0.5);
}
