*{
    margin:0; 
    padding:0;
    box-sizing:border-box;
}

li{
    list-style:none;
}

.loading{

    text-align:center;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    font-size:4rem;
}

@keyframes loading{
    0%{transform:rotate(0deg)},
    100%{transform:rotate(360deg)}
}

.spinner{
    transform:rotate(360deg);
    animation: loading 2s linear infinite;
    color:#a59cd2;
}

.loading_text{
    font-size:0.3em;
}