@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Pacifico&family=Roboto&family=Zilla+Slab&display=swap");
html,
body,
#root {
  height: 100%;
}

body, input, select, button {
  font-family: "Zilla Slab", sans-serif;
}
body{
  /* background-color:#efefef; */
}
input{
  background:none;
}

/* Dark mode */
html.dark{
  background-color:#19202C;
  color:#fff;
}

/* html.dark header{
  background-color:#19202C;
  color:#fff;
}

html.dark header h1{
  color:#fff;
} */

