@value makerWhite: #fff;
@value makerBlack: #000;
@value makerDarkGrey: #333;
@value makerLightGrey: #0e01462d;
@value makerSkyBlue: #4cbcd8;
@value makerLightPurple: #a59cd2;
@value makerDarkGreen: #5eafac;
@value makerShadow: rgba(0, 0, 0, .15);
@value makerLightGrey: #efefef;
@value makerDeepDarkGrey: #19202c;

