@value makerWhite, makerDarkGrey, makerShadow from 'common/style.css';

.wrap {
  width: 500px;
  height: 400px;
  display: flex;
  box-shadow: 0 0 10px makerShadow;
}

.wrap:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  /* background-image: url("img/authMain.jpg"); */
  z-index: -1;
  /* transform: scale(1.5); */
}

.img {
  width: 40%;
  overflow: hidden;
}

.img img {
  height: 100%;
}

.info_wrap {
  width: 60%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  background-color: makerWhite;
}

.info {
  width: 100%;
}

.box {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  background-color: #efefef;
  border: none;
  outline: none;
}

.email,
.password {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.icon {
  width: 14%;
  text-align: center;
}

.input {
  width: 84%;
  text-indent: 10px;
}

.submit {
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
  background-color: rgb(165, 156, 210, 0.8);
}

.submit:hover {
  opacity: 0.9;
}

.toggle {
  padding: 20px 0 40px;
  text-align: right;
  font-size: 0.7rem;
  color: #777;
}

.toggle span {
  padding-left: 5px;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.2em;
}

.toggle span:hover {
  color: #b11682;
}
.social_text {
  line-height: 20px;
  font-size: 0.7rem;
  color: #777;
}

.social_wrap {
  display: flex;
  justify-content: space-between;
}
.social {
  width: 49%;
  font-size: 0.8rem;
  background-color: #3d73f3;
  color: makerWhite;
  cursor: pointer;
}
.social:hover {
  opacity: 0.9;
}
.social:last-child {
  background-color: makerDarkGrey;
}
.social span {
  font-size: 1.2em;
  padding-right: 5px;
}

/* error */
.error {
  font-size: 0.7rem;
  color: #e81c1c;
}

/* dark mode */
.dark.info_wrap {
  background-color: #272c38;
}

.dark.box {
  background-color: #3a3d46;
  color: makerWhite;
}
