.wrap {
  height: 100%;
  /* display: flex; */
  /* flex-direction: column; */
}
.section {
  height:100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 